<!--
 * @Author: coco
 * @Date: 2022-09-16 14:26:07
 * @LastEditors: coco
 * @LastEditTime: 2022-09-19 15:53:29
 * @FilePath: \mygithub-vue-learning\coco_first_repository\sample\component\sonChangeFather.html
 * @Description: 演示儿子组件动态修改父亲组件data的值  v-bind props methods this.$emit()
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <title>sonchangefather</title>
</head>

<body>
    <div id="appfather">
        <span>{{fatherMessageA}} + {{fatherMessageB}}</span>
        <br />
        <appson v-bind:sonmessageprop="fatherMessageA" @customevent="fathermethods1"></appson>
        <!--    <appson :buttonlabellist="items" @customevent1="fathermethods1"></appson>
       
        <appson></appson> -->
    </div>
    <template id="appsontemplate">
        <div>
            <p>子组件：</p>
            <input v-model="sonmessageprop" placeholder="edit me" @input="sonclick($event)">
            <p>Message is: {{ sonmessageprop }}</p>
            <!--   <button v-for="item in buttonlabellist" @click="btnclick($event)">{{item}}</button> -->
        </div>
    </template>
</body>
<script>
    Vue.component('appson', {
        template: '#appsontemplate',
        data() {
            return {
                'message': '默认文字',
            }
        },
        props: {
            'buttonlabellist': {
                type: Array,
                required: true,
                default: function () {
                    return ['内部默认的量算分析', '内部默认的贴地分析', '内部默认的空间分析']
                }
            },
            'sonmessageprop': {
                type: String,
                required: true
            }
        },
        methods: {
            btnclick(event) {
                console.log(event.target.innerHTML);
                this.$emit('customevent', '执行空间分析！');
            },
            sonclick(e){
                this.$emit('customevent',e.target.value)
            }
        }
    });
    const app = new Vue({
        el: '#appfather',
        data: {
            'fatherMessageA': '父亲的信息A',
            'fatherMessageB': '父亲的信息B'
        },
        methods: {
            fathermethods1(e) {
                this.fatherMessageA=e;
            }
        }
    });
    // 定义一个名为 my-cpn-father 的全局父组件  标签名+构造器
    /*   const app = new Vue({
          el: '#app',
          data: {
              message: '2d_3d_engine'
          },
          components: {
              cpnfather: {
                  template: `
          <div>
          <h2>标题</h2>
          <p>段落1</p>
          <p>段落2</p>
          <cpnson/>
          </div>
                  `,
                  components: {
                      cpnson: {
                          template: `
                  <h5>我是h5</h5>
                  `
                      }
                  }
              }
          }
      });
          const app = new Vue({
              el: '#app',
              data: {
                  message: '2d_3d_engine'
              },
              components:{
                  cpnfather:{
                      data: function () {
                  return {
                      count: 0
                  }
              },
              template: `
              <div>
              <h2>标题</h2>
              <p>段落1</p>
              <p>段落2</p>
              <cpnson/>
              </div>
                      `,
              components:{
                  cpnson:{
                      template:`
                      <h5>我是h5</h5>
                      `
                  }
              }
                  }
              }
          })  */
</script>

</html>